{% extends 'base.html' %}

{% block title %}
Student 
{% endblock  %}

{% block body %}
<br>
<br>
<br>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 jumbotron">
            <h4 class="text-center bg-success text-white">Profile Update</h4> <br>
            <form action="/profileupdate" method="POST">
                
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="New Name/Current Name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="tel" class="form-control" pattern="[0-9]{10}" id="phone" placeholder="New Phone/Current Phone" name="phone" required>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="New Email/Current Email" name="email" required>
                </div>

                <div class="form-group ">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Current Password" name="password" required>
                </div>
                

                <button type="submit" class="btn btn-success mt-3">Update</button>
            </form>

</div>
</div>
</div>
{% endblock  %}